@charset "UTF-8";
@font-face {
  font-family: "Bebas Neue";
  src: local("Bebas Neue Regular Regular"), local("BebasNeueRegular"), url("../fonts/BebasNeueRegular.woff2") format("woff2"), url("../fonts/BebasNeueRegular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

.header {
  background-color: #635854;
  border-bottom: 4px solid #3596f5;
}

.header .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-orient: inherit;
  -webkit-box-direction: inherit;
      -ms-flex-direction: inherit;
          flex-direction: inherit;
  margin: auto;
  max-width: 1280px;
}

.header .navbar .navbar-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.header .navbar .navbar-list .navbar-link {
  padding: 12px 40px;
  text-decoration: none;
  color: #fff;
}

.header .navbar .navbar-list .navbar-link:hover {
  background: #3596f5;
}

.header .navbar .navbar-list .navbar-link:active {
  background: #3477b9;
}

.header .navbar .navbar-contacts {
  text-align: right;
}

.header .navbar .navbar-contacts .navbar-text {
  color: #fff;
  display: block;
  margin-bottom: 4px;
}

.header .navbar .phone {
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  text-decoration: none;
  color: #fff;
}

.header .navbar .phone:hover {
  color: #3596f5;
}

.header .navbar .phone:active {
  color: #3477b9;
}

.main {
  margin: auto;
  max-width: 1280px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: inherit;
      -ms-flex-pack: inherit;
          justify-content: inherit;
  -webkit-box-align: inherit;
      -ms-flex-align: inherit;
          align-items: inherit;
  text-align: center;
  -webkit-box-orient: inherit;
  -webkit-box-direction: inherit;
      -ms-flex-direction: inherit;
          flex-direction: inherit;
  padding: 60px 0;
}

.main .main-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: inherit;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.main .home-image path {
  opacity: 0;
  cursor: pointer;
}

.main .home-image path:hover {
  opacity: 1;
}

.main path.current-floor {
  opacity: 1;
}

.main .main-title {
  font-family: "Bebas Neue", sans-serif;
  color: #635854;
  font-size: 40px;
  line-height: 40px;
}

.main .counter-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: inherit;
      -ms-flex-pack: inherit;
          justify-content: inherit;
  -webkit-box-align: inherit;
      -ms-flex-align: inherit;
          align-items: inherit;
  text-align: inherit;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main .counter-container .counter-button {
  cursor: pointer;
  border: none;
  background-color: #fff;
}

.main .counter-container .counter-button .counter-arrow-down {
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
}

.main .counter-container .floor-counter {
  font-family: "Bebas Neue", sans-serif;
  font-size: 100px;
  color: #635854;
  padding: 10px 0;
}

.main .button-primary {
  cursor: pointer;
  border: none;
  background-color: #fff;
  background-color: #3596f5;
  border-radius: 6px;
  color: #fff;
  padding: 16px 36px;
  margin-bottom: 6px;
}

.main .button-primary:hover {
  background: #3477b9;
}

.modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: inherit;
  -webkit-box-orient: inherit;
  -webkit-box-direction: inherit;
      -ms-flex-direction: inherit;
          flex-direction: inherit;
  position: fixed;
  /*фиксированная позиция, поверх всего сайта*/
  left: 0;
  top: 0;
  /*прикливаем к верхнему левому окну*/
  width: 100%;
  height: 100%;
  /*занимает всю страницу*/
  background-color: rgba(0, 0, 0, 0.8);
  /*black transparent background*/
  opacity: 0;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

.modal .modal-title {
  font-family: "Bebas Neue", sans-serif;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  margin: 0 0 25px 0;
}

.modal .modal-window {
  position: relative;
  /*кнопка будет привязана именно к этому окну*/
  max-width: 1000px;
  min-height: 565px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  /*благодаря таким настройкам окно будет всегда в центре при прокрутке*/
  /*анимация модального окна*/
  opacity: 0;
  -webkit-transform: translateY(-10%);
          transform: translateY(-10%);
  -webkit-transition: opacity 0.2s, -webkit-transform 0.2s;
  transition: opacity 0.2s, -webkit-transform 0.2s;
  transition: transform 0.2s, opacity 0.2s;
  transition: transform 0.2s, opacity 0.2s, -webkit-transform 0.2s;
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

.modal .modal-window .modal-image {
  background: #ebebeb;
  width: 60%;
  text-align: center;
  padding: 50px;
}

.modal .modal-window .modal-image .flats path {
  opacity: 0;
  cursor: pointer;
}

.modal .modal-window .modal-image .flats path:hover {
  opacity: 1;
}

.modal .modal-window .modal-image .flats .hovered {
  opacity: 1;
}

.modal .modal-info {
  width: 40%;
  padding: 50px 46px;
}

.modal .modal-info .flat-list {
  list-style: none;
  margin-top: 55px;
}

.modal .modal-info .flat-list .flat-item {
  margin-bottom: 10px;
}

.modal .modal-info .flat-list .flat-item .flat-link {
  font-size: 16px;
  line-height: 19px;
  color: #635854;
  text-decoration: none;
}

.modal .modal-info .flat-list .flat-item .flat-link:hover {
  color: #3596f5;
  text-decoration: underline;
}

.modal .modal-info .flat-list .flat-item .flat-link:active {
  color: #3477b9;
}

.modal .modal-info .flat-list .flat-item .current-flat {
  color: #3596f5;
  text-decoration: underline;
}

.modal .modal-info .modal-alert {
  font-size: 16px;
  line-height: 19px;
  color: #635854;
  font-style: italic;
  margin-top: 56px;
}

.modal .close-button {
  position: absolute;
  /*кнопка будет привязана к тому элементу, у которого position: relative*/
  top: 27px;
  right: 38px;
  /*приклеиваем к верхенму правому углу (отталкивание от углов)*/
  cursor: pointer;
  border: none;
  background-color: #fff;
}

.current-flat {
  color: #3596f5;
  text-decoration: underline;
}

.open {
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 1;
}

.open > .modal-window {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.footer {
  background: #ebebeb;
}

.footer .footer-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: inherit;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: auto;
  max-width: 1280px;
  width: 100%;
  height: 172px;
}

.footer .footer-content .footer-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 50px;
}

.footer .footer-content .footer-contacts .footer-phone {
  text-align: left;
}

.footer .footer-content .footer-contacts .footer-phone .phone-text {
  color: #635854;
  display: block;
  margin-bottom: 4px;
}

.footer .footer-content .footer-contacts .footer-phone .phone-link {
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  text-decoration: none;
  color: #635854;
}

.footer .footer-content .footer-contacts .footer-phone .phone-link:hover {
  color: #3596f5;
}

.footer .footer-content .footer-contacts .footer-phone .phone-link:active {
  color: #3477b9;
}

.footer .footer-content .footer-contacts .footer-social a {
  text-decoration: none;
  padding: 4px;
}

.footer .footer-content .footer-list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

.footer .footer-content .footer-list .footer-item {
  text-decoration: underline;
  color: #635854;
}

.footer .footer-content .footer-list .footer-item:hover {
  color: #3596f5;
}

.footer .footer-content .footer-list .footer-item:active {
  color: #3477b9;
}
/*# sourceMappingURL=style.css.map */