@font-face {
  font-family: "Bebas Neue";
  src: local("Bebas Neue Regular Regular"), local("BebasNeueRegular"),
    url("../fonts/BebasNeueRegular.woff2") format("woff2"),
    url("../fonts/BebasNeueRegular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@mixin flex($justifyContent, $alignItems, $textAlign, $direction) {
  display: flex;
  justify-content: $justifyContent;
  align-items: $alignItems;
  text-align: $textAlign;
  flex-direction: $direction;
}

@mixin container {
  margin: auto;
  max-width: 1280px;
}

@mixin button {
  cursor: pointer;
  border: none;
  background-color: $white;
}

$blue: #3596f5;
$brown: #635854;
$white: #fff;
$grey: #ebebeb;
$darkblue: #3477b9;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

.header {
  background-color: $brown;
  border-bottom: 4px solid $blue;

  .navbar {
    @include flex(space-between, center, center, inherit);
    @include container();

    .navbar-list {
      display: flex;
      list-style: none;
      .navbar-link {
        padding: 12px 40px;
        text-decoration: none;
        color: $white;
        &:hover {
          background: $blue;
        }
        &:active {
          background: $darkblue;
        }
      }
    }
    .navbar-contacts {
      text-align: right;
      .navbar-text {
        color: $white;
        display: block;
        margin-bottom: 4px;
      }
    }
    .phone {
      font-weight: bold;
      font-size: 17px;
      line-height: 20px;
      text-decoration: none;
      color: $white;
      &:hover {
        color: $blue;
      }
      &:active {
        color: $darkblue;
      }
    }
  }
}

.main {
  @include container();
  @include flex(inherit, inherit, center, inherit);
  padding: 60px 0;

  .main-info {
    @include flex(space-between, center, inherit, column);
    flex-grow: 1;
  }
  .home-image path {
    opacity: 0;
    cursor: pointer;
    &:hover {
      opacity: 1;
    }
  }
  path.current-floor {
    opacity: 1;
  }

  .main-title {
    font-family: "Bebas Neue", sans-serif;
    color: $brown;
    font-size: 40px;
    line-height: 40px;
  }
  .counter-container {
    @include flex(inherit, inherit, inherit, column);
    .counter-button {
      @include button();
      .counter-arrow-down {
        transform: rotateX(180deg);
      }
    }
    .floor-counter {
      font-family: "Bebas Neue", sans-serif;
      font-size: 100px;
      color: $brown;
      padding: 10px 0;
    }
  }
  .button-primary {
    @include button();
    background-color: $blue;
    border-radius: 6px;
    color: $white;
    padding: 16px 36px;
    margin-bottom: 6px;
    &:hover {
      background: $darkblue;
    }
  }
}

.modal {
  @mixin modal-text {
    font-size: 16px;
    line-height: 19px;
    color: $brown;
  }
  @include flex(center, center, inherit, inherit);
  position: fixed; /*фиксированная позиция, поверх всего сайта*/
  left: 0;
  top: 0; /*прикливаем к верхнему левому окну*/
  width: 100%;
  height: 100%; /*занимает всю страницу*/
  background-color: rgba(0, 0, 0, 0.8); /*black transparent background*/
  opacity: 0;
  transform: scale(0);
  transition: opacity 0.2s;
  .modal-title {
    font-family: "Bebas Neue", sans-serif;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    margin: 0 0 25px 0;
  }
  .modal-window {
    position: relative; /*кнопка будет привязана именно к этому окну*/
    max-width: 1000px;
    min-height: 565px;
    background: $white;
    display: flex;
    flex-grow: 1; /*благодаря таким настройкам окно будет всегда в центре при прокрутке*/
    /*анимация модального окна*/
    opacity: 0;
    transform: translateY(-10%);
    transition: transform 0.2s, opacity 0.2s;
    transition-delay: 0.2s;
    .modal-image {
      background: $grey;
      width: 60%;
      text-align: center;
      padding: 50px;
      .flats path {
        opacity: 0;
        cursor: pointer;
        &:hover {
          opacity: 1;
        }
      }
      .flats .hovered {
        opacity: 1;
      }
    }
  }
  .modal-info {
    width: 40%;
    padding: 50px 46px;
    .flat-list {
      list-style: none;
      margin-top: 55px;
      .flat-item {
        margin-bottom: 10px;
        .flat-link {
          @include modal-text;
          text-decoration: none;
          &:hover {
            color: $blue;
            text-decoration: underline;
          }
          &:active {
            color: $darkblue;
          }
        }
        .current-flat {
          color: #3596f5;
          text-decoration: underline;
        }
      }
    }
    .modal-alert {
      @include modal-text;
      font-style: italic;
      margin-top: 56px;
    }
  }
  .close-button {
    position: absolute; /*кнопка будет привязана к тому элементу, у которого position: relative*/
    top: 27px;
    right: 38px; /*приклеиваем к верхенму правому углу (отталкивание от углов)*/
    @include button();
  }
}

.current-flat {
  color: $blue;
  text-decoration: underline;
}

.open {
  transform: scale(1);
  opacity: 1;
  > .modal-window {
    opacity: 1;
    transform: translateY(0);
  }
}

.footer {
  background: $grey;
  .footer-content {
    @include flex(space-between, center, inherit, row);
    @include container();
    width: 100%;
    height: 172px;
    .footer-contacts {
      display: flex;
      align-items: center;
      gap: 50px;
      .footer-phone {
        text-align: left;
        .phone-text {
          color: $brown;
          display: block;
          margin-bottom: 4px;
        }
        .phone-link {
          font-weight: bold;
          font-size: 17px;
          line-height: 20px;
          text-decoration: none;
          color: $brown;
          &:hover {
            color: $blue;
          }
          &:active {
            color: $darkblue;
          }
        }
      }
      .footer-social a {
        text-decoration: none;
        padding: 4px;
      }
    }
    .footer-list {
      list-style: none;
      display: flex;
      gap: 20px;
      .footer-item {
        text-decoration: underline;
        color: $brown;
        &:hover {
          color: $blue;
        }
        &:active {
          color: $darkblue;
        }
      }
    }
  }
}
